import React from 'react'
import ReactDOM from 'react-dom'

var style={
  backgroundColor:'orange',
  color:'white'
}

/--ALL OF Component should be capital--/
class Message extends React.Component{
  
  /__Every compont has a render method __/

  render(){
    return(
      <div>
        <h1>OutPut From COntainer</h1>
      </div>
    )
  }
}


ReactDOM.render(
  <Message/>,
  document.getElementById('root')
)